<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>purchaseType</key>
	<array>
		<dict>
			<key>name</key>
			<string>品种选择</string>
			<key>showOpenCollection</key>
			<string>0</string>
			<key>puchTypeOpenCollectionView</key>
			<string>0</string>
			<key>puchTypeOtherCtro</key>
			<string>1</string>
			<key>nextCtroName</key>
			<string>name</string>
			<key>multipleChoice</key>
			<string>0</string>
			<key>openShowItmes</key>
			<array>
				<dict>
					<key>openShowUNSelectedImageName</key>
					<string></string>
					<key>openShowSelectedImageName</key>
					<string></string>
					<key>name</key>
					<string>经营品种</string>
					<key>id</key>
					<string>123123123</string>
				</dict>
				<dict>
					<key>openShowUNSelectedImageName</key>
					<string></string>
					<key>openShowSelectedImageName</key>
					<string></string>
					<key>name</key>
					<string>经营品种</string>
					<key>id</key>
					<string>123123123</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>商户类型</string>
			<key>showOpenCollection</key>
			<string>0</string>
			<key>puchTypeOpenCollectionView</key>
			<string>0</string>
			<key>puchTypeOtherCtro</key>
			<string>0</string>
			<key>nextCtroName</key>
			<string>name</string>
			<key>multipleChoice</key>
			<string>1</string>
			<key>openShowItmes</key>
			<array>
				<dict>
					<key>openShowUNSelectedImageName</key>
					<string></string>
					<key>openShowSelectedImageName</key>
					<string></string>
					<key>name</key>
					<string>认证商户</string>
					<key>id</key>
					<string>123123123</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>排列方式</string>
			<key>showOpenCollection</key>
			<string>0</string>
			<key>puchTypeOpenCollectionView</key>
			<string>0</string>
			<key>puchTypeOtherCtro</key>
			<string>0</string>
			<key>nextCtroName</key>
			<string>name</string>
			<key>multipleChoice</key>
			<string>0</string>
			<key>openShowItmes</key>
			<array>
				<dict>
					<key>openShowUNSelectedImageName</key>
					<string></string>
					<key>openShowSelectedImageName</key>
					<string></string>
					<key>name</key>
					<string>经营年限</string>
					<key>id</key>
					<string>123123123</string>
				</dict>
				<dict>
					<key>openShowUNSelectedImageName</key>
					<string></string>
					<key>openShowSelectedImageName</key>
					<string></string>
					<key>name</key>
					<string>关注度</string>
					<key>id</key>
					<string>123123123</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>排列方式</string>
			<key>showOpenCollection</key>
			<string>0</string>
			<key>puchTypeOpenCollectionView</key>
			<string>0</string>
			<key>puchTypeOtherCtro</key>
			<string>0</string>
			<key>nextCtroName</key>
			<string>name</string>
			<key>multipleChoice</key>
			<string>0</string>
			<key>openShowItmes</key>
			<array>
				<dict>
					<key>openShowUNSelectedImageName</key>
					<string></string>
					<key>openShowSelectedImageName</key>
					<string></string>
					<key>name</key>
					<string>经营年限</string>
					<key>id</key>
					<string>123123123</string>
				</dict>
				<dict>
					<key>openShowUNSelectedImageName</key>
					<string></string>
					<key>openShowSelectedImageName</key>
					<string></string>
					<key>name</key>
					<string>经营年限</string>
					<key>id</key>
					<string>123123123</string>
				</dict>
				<dict>
					<key>openShowUNSelectedImageName</key>
					<string></string>
					<key>openShowSelectedImageName</key>
					<string></string>
					<key>name</key>
					<string>经营年限</string>
					<key>id</key>
					<string>123123123</string>
				</dict>
				<dict>
					<key>openShowUNSelectedImageName</key>
					<string></string>
					<key>openShowSelectedImageName</key>
					<string></string>
					<key>name</key>
					<string>经营年限</string>
					<key>id</key>
					<string>123123123</string>
				</dict>
				<dict>
					<key>openShowUNSelectedImageName</key>
					<string></string>
					<key>openShowSelectedImageName</key>
					<string></string>
					<key>name</key>
					<string>经营年限</string>
					<key>id</key>
					<string>123123123</string>
				</dict>
				<dict>
					<key>openShowUNSelectedImageName</key>
					<string></string>
					<key>openShowSelectedImageName</key>
					<string></string>
					<key>name</key>
					<string>关注度</string>
					<key>id</key>
					<string>123123123</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>品种选择</string>
			<key>showOpenCollection</key>
			<string>0</string>
			<key>puchTypeOpenCollectionView</key>
			<string>0</string>
			<key>puchTypeOtherCtro</key>
			<string>1</string>
			<key>nextCtroName</key>
			<string>name</string>
			<key>multipleChoice</key>
			<string>0</string>
			<key>openShowItmes</key>
			<array>
				<dict>
					<key>openShowUNSelectedImageName</key>
					<string></string>
					<key>openShowSelectedImageName</key>
					<string></string>
					<key>name</key>
					<string>经营品种</string>
					<key>id</key>
					<string>123123123</string>
				</dict>
				<dict>
					<key>openShowUNSelectedImageName</key>
					<string></string>
					<key>openShowSelectedImageName</key>
					<string></string>
					<key>name</key>
					<string>经营品种</string>
					<key>id</key>
					<string>123123123</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
